* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Layout */
  .container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #333;
    color: white;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 100%;
    background-color: #2B2B2B;
    padding: 20px;
  }
  
  .sidebar h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
  }
  
  .project-item {
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
  }
  
  .project-item.active,
  .project-item:hover {
    color: #28A745;
  }
  
  
  .main-content {
    flex: 1;
    background-color: #1c1c1c;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
    height: 100%;
    
  }
  
  .header h1 {
    font-size: 1.8em;
  }
  
  .edit-btn {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 15px 30px;
  }
  
  .edit-btn img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
  
  .activity-columns {
    display: flex;
    gap: 20px;
  }
  
  .activity-column {
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
  }
  
  .activity-column h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #444242;
    font-weight: 100;
  }
  
  .activity-card {
    background-color: #F0F0F0;
    box-shadow: #c9c8c8 0px 4px 5.3px -1px;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    color: #444242;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .add-activity-btn {
    background: none;
    border: none;
    color: #444242;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1em;
  }

  .bar-under-proy,.bar-under-proy-active{
    width: 100%;
    background-color: #FFFFFF;
    height: 1px;
  }

  .bar-under-proy-active{
    background-color: #28A745;
  }

  .div-proy-lista{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .proy-list{
    width: 100%;
  }

  .separator{
    background-color: #FFFFFF;
    width: 1px;
    margin: 0px 20px 0px 20px;
  }

  .big-title{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 15px 0px;
  }

  .title-proy-select{
    font-size: 2em;
    padding: 15px 30px;
  }

  .background-activities{
    padding: 1em;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #343333, #232323);
  }