<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nuevo Proyecto</title>
  <link rel="stylesheet" href="../css/style-new-project.css">
</head>
<body>
  <h2>Agregar Nuevo Proyecto</h2>
  <form id="projectForm">
    <label for="name">Nombre del Proyecto:</label>
    <input type="text" id="name" required><br><br>

    <label for="description">Descripción:</label>
    <textarea id="description" rows="4" required></textarea><br><br>

    <label for="startDate">Fecha de Inicio:</label>
    <input type="date" id="startDate" required><br><br>

    <label for="endDate">Fecha Final:</label>
    <input type="date" id="endDate" required><br><br>

    <div class="button-group">
      <button type="button" id="closeBtn">Cerrar</button>
      <button type="submit">Guardar Proyecto</button>
    </div>
  </form>
  <div id="errorMessages" style="color: red; font-size: 14px; margin-top: 10px;"></div>
  <script src="../src/renderer-new-project.js">  </script>
</body>
</html>
