<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Actualizar Proyecto</title>
  <link rel="stylesheet" href="../css/style-update-project.css">
</head>
<body>
  <h1>Actualizar Proyecto</h1>
  <form id="edit-form">
    <label for="nombre">Nombre del Proyecto:</label>
    <input type="text" id="project-name" name="nombre" required>
    <!--readonly-->

    <label for="descripcion">Descripción:</label>
    <textarea id="project-description" name="descripcion"></textarea>

    <label for="fecha_inicio">Fecha de Inicio:</label>
    <input type="date" id="project-start-date" name="fecha_inicio" required>

    <label for="fecha_termino">Fecha de Término:</label>
    <input type="date" id="project-end-date" name="fecha_termino">

    <button type="submit">Actualizar</button>
  </form>

  <script src="../src/renderer-update.js"></script>
  
</body>
</html>
