* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Layout */
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #333;
  color: white;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 100%;
  background-color: #2b2b2b;
  padding: 20px;
}

.sidebar h2 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.project-item {
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}

.project-item.active,
.project-item:hover {
  color: #28a745;
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
}

.main-content {
  flex: 1;
  background-color: #1c1c1c;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 20px;
  height: 100%;
}

.header h1 {
  font-size: 1.8em;
}

.edit-btn {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 15px 30px;
}

.edit-btn img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.activity-columns {
  display: flex;
  gap: 20px;
}

.activity-column {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}

.activity-column h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #444242;
  font-weight: 100;
}

.activity-card {
  background-color: #f0f0f0;
  box-shadow: #c9c8c8 0px 4px 5.3px -1px;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: #444242;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.add-activity-btn {
  background: none;
  border: none;
  color: #444242;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1em;
}

.bar-under-proy {
  width: 100%;
  background-color: #ffffff;
  height: 1px;
}

.active-gradient {
  align-self: end;
  background: linear-gradient(0deg, #116124, #2b2b2b);
  width: 100%;
  height: 14px;
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
}

.triangle-right{
  align-self: end;
  
  height: 0;
  border-top: -30px solid transparent;
  border-bottom: 20px solid transparent; 
  
  grid-column: 1;
  grid-row: 1;
  border-right:20px solid #2b2b2b; 
  z-index: 3;
}

 .triangle-left{
  align-self: end;
  width: 0; 
  height: 0; 
  border-top: -30px solid transparent;
  border-bottom: 20px solid transparent; 
  z-index: 3;
  grid-column: 1;
  grid-row: 1;
  border-left:20px solid #2b2b2b; 
} 

.bar-under-selected-gradient{
  width: 100%;
  height: auto;
  display: grid;
}

.bar-under-proy-active {
  background:#28a745;
  width: 100%;
  height: 1px;
}


.div-proy-lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}

.proy-list {
  width: 90%;
}

.separator {
  background-color: #ffffff;
  width: 1px;
  margin: 0px 20px 0px 20px;
}

.big-title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 15px 20px;
}

.title-proy-select {
  font-size: 1.6em;
  padding: 15px 30px;
}

.background-activities {
  padding: 1em;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #343333, #232323);
}

.back-btn {
  width: 4em;
  height: 4em;
  display: flex;
  align-self: self-start;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 4em;
}

.back-btn img {
  width: 100%;
  height: 100%;
}

.title-separator {
  background-color: #525151;
  width: 110%;
  height: 1px;
  margin: 0px 20px 0px 20px;
}